<ion-header>
  <ion-toolbar>
    <ion-title>
     Inspección
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Inspeccionar
 
 
  <ion-grid>
    <!-- <ion-row>
      <ion-col size="9">
          <ion-item>
              <ion-label position="fixed">inspeccion</ion-label>:
              <ion-input [(ngModel)]="inspeccion.id"></ion-input>
            </ion-item>
        
      </ion-col>
      <ion-col>
       <ion-input type="text"></ion-input> {{data.name}}<ion-icon name="trash" (click)="removeKey('name')"></ion-icon> 
      </ion-col> 
    </ion-row> -->
    <ion-row>
        <ion-col size="9">
            <ion-item>
                <ion-label position="fixed">Vehiculo</ion-label>:
                <ion-select [(ngModel)]="inspeccion.vehiculo">
                  <ion-select-option *ngFor="let item of vdata" value="{{item.id}}">{{item.marcaym}}, {{item.chasis}}</ion-select-option>
                </ion-select>
              </ion-item>
          
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="9">
              <ion-item>
                  <ion-label position="fixed">Cliente</ion-label>:
                  <ion-select [(ngModel)]="inspeccion.idcliente">
                    <ion-select-option *ngFor="let item of cdata" value="{{item.id}}">{{item.nombre}}</ion-select-option>
                  </ion-select>
                </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <ion-item>
                    <ion-label position="fixed">Rallones</ion-label>:
                    <ion-input [(ngModel)]="inspeccion.rallones"></ion-input>
                  </ion-item>
              
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="9">
                  <ion-item>
                      <ion-label position="fixed">Cantidad de Comb.</ion-label>:
                      <ion-select [(ngModel)]="inspeccion.cancumbus">
                        <ion-select-option value="1/4">1/4</ion-select-option>
                        <ion-select-option value="1/2">1/2</ion-select-option>
                        <ion-select-option value="3/4">3/4</ion-select-option>
                        <ion-select-option value="FULL">FULL</ion-select-option>
                      </ion-select>
                    </ion-item>
                
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="9">
                    <ion-item>
                        <ion-label position="fixed">Goma de Repuesta</ion-label>:
                        <ion-select [(ngModel)]="inspeccion.repuesta">
                          <ion-select-option value="Si">Si</ion-select-option>
                          <ion-select-option value="No">No</ion-select-option>
                        </ion-select>
                      </ion-item>
                  
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9">
                      <ion-item>
                          <ion-label position="fixed">Gato</ion-label>:
                          <ion-select [(ngModel)]="inspeccion.gato">
                             <ion-select-option value="Si">Si</ion-select-option>
                          <ion-select-option value="No">No</ion-select-option>
                        </ion-select>
                        </ion-item>
                    
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="9">
                        <ion-item>
                            <ion-label position="fixed">Roturas en el Cristal</ion-label>:
                            <ion-select multiple="true" [(ngModel)]="inspeccion.roturas">
                              <ion-select-option value="Derecho">Piloto</ion-select-option>
                              <ion-select-option value="Izquierdo">Copiloto</ion-select-option>
                              <ion-select-option value="Derecho trasero">Derecho pasajero</ion-select-option>
                              <ion-select-option value="Izquierdo trasero">Izquierdo pasajero</ion-select-option>
                              <ion-select-option value="Frontal">Frontal</ion-select-option>
                              <ion-select-option value="Tracero">Tracero</ion-select-option>
                            </ion-select>
                          </ion-item>
                      
                    </ion-col>
                  </ion-row> <ion-row>
                      <ion-col size="9">
                          <ion-item>
                              <ion-label position="fixed">Estado de las Gomas</ion-label>:
                              <ion-select multiple="true" [(ngModel)]="inspeccion.estgomas">
                                <ion-select-option value="Goma1 bien" value="Goma1">Goma 1</ion-select-option>
                                <ion-select-option  value="Goma2 bien">Goma 2</ion-select-option>
                                <ion-select-option  value="Goma3 bien">Goma 3</ion-select-option>
                                <ion-select-option  value="Goma4 bien">Goma 4</ion-select-option>
                              </ion-select>
                            </ion-item>
                           
                        
                      </ion-col>
                    </ion-row> <ion-row>
                      <ion-col size="9">
                          <ion-item>
                              <ion-label position="fixed">Fecha</ion-label>:
                              <ion-datetime display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" [(ngModel)]="inspeccion.fecha"></ion-datetime>
                            </ion-item>
                        
                      </ion-col>
                    </ion-row><ion-row>
                      <ion-col size="9">
                          <ion-item>
                              <ion-label position="fixed">Empleado</ion-label>:
                              <ion-select [(ngModel)]="inspeccion.empleado" okText="Okay" cancelText="Dismiss">
                                <ion-select-option *ngFor="let item of edata" value="{{item.id}}">{{item.nombre}}</ion-select-option>
                               
                              </ion-select>
                            </ion-item>
                        
                      </ion-col>
                    </ion-row><ion-row>
                      <ion-col size="9">
                          <ion-item>
                              <ion-label position="fixed">Estado</ion-label>:
                              <ion-checkbox [(ngModel)]="inspeccion.estado"></ion-checkbox>
                            </ion-item>
                        
                      </ion-col>
                    </ion-row>
                    <ion-button (click)="guardar()">Guardar</ion-button>

    <!-- <ion-row>
      <ion-col size="3">
        <strong>Integer</strong>
      </ion-col>
      <ion-col>:
        {{data.phone}}<ion-icon name="trash" (click)="removeKey('phone')"></ion-icon>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <strong>inspecciones Hechas</strong>  <ion-icon (click)="prit()" size="large" name="print" ></ion-icon>
        <div id="printable-area">
            <ion-card *ngFor="let item of data; let i = index">
                <ion-card-header>
                    <ion-card-title>inspeccion {{item.id}}
                    </ion-card-title>
                </ion-card-header>
              <ion-card-content>
               
                <p><strong>Vehiculo</strong>: {{item.vehiculo}}</p>
                <p><strong>Id. Cliente</strong>: {{item.idcliente}}</p>
                <p><strong>Id. Rallones</strong>: {{item.rallones}}</p>
                <p><strong>Cantidad de Comb.</strong>: {{item.cancumbus}}</p>
                <p><strong>Gomas de repuestos no hace bebida</strong>: {{item.repuesta}}</p>
                <p><strong>¿Tiene gato?</strong>: {{item.gato}}</p>
                <p><strong>Roturas en el Cristal</strong>: {{item.roturas}}</p>
                <p><strong>Estado de Gomas</strong>: Goma 1: {{item.estgomas.goma1}} - Goma 2: {{item.estgomas.goma2}} - Goma 3: {{item.estgomas.goma3}} - Goma 4: {{item.estgomas.goma4}}</p>
                <p><strong>Fecha</strong>: {{item.fecha}}</p>
                <p><strong>Empleado</strong>: {{item.empleado}}</p>
                <p><strong>Estado</strong>: {{item.estado}}</p>
              </ion-card-content>
            </ion-card>
            </div>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
 <!--  <ion-button size="small" (click)="driverUsed()">Get Storage Driver Used</ion-button>
  <ion-button size="small" (click)="traverseKeys()">Loop through All Stored Keys</ion-button>
  <ion-button size="small" (click)="listKeys()">Get Stored Keys</ion-button>
  <ion-button size="small" (click)="getKeyLength()">Get Length Stored Keys</ion-button> -->
 
 
</ion-content>
