
<ion-content >
<div style="background-color: #3f3f3f;
height: 100%;">

<ion-row style="position: absolute;
top:50%;
bottom: 0;
left: 0;
right: 0;">
  <ion-col></ion-col>
  <ion-col> <ion-card style="-webkit-box-shadow: 10px 20px 82px -1px rgba(20,83,179,1);
    -moz-box-shadow: 10px 20px 82px -1px rgba(20,83,179,1);
    box-shadow: 10px 20px 82px -1px rgba(20,83,179,1);">
  
   
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="outline" color="primary" [routerDirection]="root" routerLink="/home" >Iniciar Sesión</ion-button>
  </ion-card>

</ion-col>
  <ion-col></ion-col>
</ion-row>
 
</div>

</ion-content>
