<ion-header>
  <ion-toolbar>
    <ion-title>
     Vehiculos
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  Agregar Vehiculo
 
 
  <ion-grid>
    <ion-row>
      <ion-col size="9">
          <ion-item>
              <ion-label position="fixed">Descripcion</ion-label>:
              <ion-input [(ngModel)]="vehiculo.descripcion"></ion-input>
            </ion-item>
        
      </ion-col>
    <!--   <ion-col>
       <ion-input type="text"></ion-input> {{data.name}}<ion-icon name="trash" (click)="removeKey('name')"></ion-icon> 
      </ion-col> -->
    </ion-row>
    <ion-row>
        <ion-col size="9">
            <ion-item>
                <ion-label position="fixed">Chasis</ion-label>:
                <ion-input [(ngModel)]="vehiculo.chasis"></ion-input>
              </ion-item>
          
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="9">
              <ion-item>
                  <ion-label position="fixed">motor</ion-label>:
                  <ion-input [(ngModel)]="vehiculo.motor"></ion-input>
                </ion-item>
            
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="9">
                <ion-item>
                    <ion-label position="fixed">placa</ion-label>:
                    <ion-input [(ngModel)]="vehiculo.placa"></ion-input>
                  </ion-item>
              
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="9">
                  <ion-item>
                      <ion-label position="fixed">tipo</ion-label>:
                      <ion-input [(ngModel)]="vehiculo.tipo"></ion-input>
                    </ion-item>
                
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="9">
                    <ion-item>
                        <ion-label position="fixed">marca</ion-label>:
                        <ion-input [(ngModel)]="vehiculo.marca"></ion-input>
                      </ion-item>
                  
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9">
                      <ion-item>
                          <ion-label position="fixed">modelo</ion-label>:
                          <ion-input [(ngModel)]="vehiculo.modelo"></ion-input>
                        </ion-item>
                    
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="9">
                        <ion-item>
                            <ion-label position="fixed">combustible</ion-label>:
                            <ion-input [(ngModel)]="vehiculo.combustible"></ion-input>
                          </ion-item>
                      
                    </ion-col>
                  </ion-row> <ion-row>
                      <ion-col size="9">
                          <ion-item>
                              <ion-label position="fixed">estado</ion-label>:
                              <ion-checkbox [(ngModel)]="vehiculo.estado"></ion-checkbox>
                            </ion-item>
                        
                      </ion-col>
                    </ion-row>
                    <ion-button (click)="guardar()">Guardar</ion-button>

    <!-- <ion-row>
      <ion-col size="3">
        <strong>Integer</strong>
      </ion-col>
      <ion-col>:
        {{data.phone}}<ion-icon name="trash" (click)="removeKey('phone')"></ion-icon>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <strong>Vehiculos Disponibles</strong><ion-icon (click)="removeKey('vehiculo')" name="trash" ></ion-icon>
            <ion-card *ngFor="let item of data; let i = index">
                <ion-card-header>
                    <ion-card-title>Vehiculo {{item.id}}
                    </ion-card-title>
                </ion-card-header>
              <ion-card-content>
                <p><strong>Descripcion</strong>: {{item.descripcion}}</p>
                <p><strong>Chasis</strong>: {{item.chasis}}</p>
                <p><strong>Motor</strong>: {{item.motor}}</p>
                <p><strong>Placa</strong>: {{item.placa}}</p>
                <p><strong>Tipo</strong>: {{item.tipo}}</p>
                <p><strong>Marca</strong>: {{item.marca}}</p>
                <p><strong>Modelo</strong>: {{item.modelo}}</p>
                <p><strong>Combustible</strong>: {{item.combustible}}</p>
                <p><strong>Estado</strong>: {{item.estado}}</p>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
 <!--  <ion-button size="small" (click)="driverUsed()">Get Storage Driver Used</ion-button>
  <ion-button size="small" (click)="traverseKeys()">Loop through All Stored Keys</ion-button>
  <ion-button size="small" (click)="listKeys()">Get Stored Keys</ion-button>
  <ion-button size="small" (click)="getKeyLength()">Get Length Stored Keys</ion-button> -->
 
 
</ion-content>
